.card__subtitle {
  width: 448px;
  height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212329;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 24px 0 0 0;
}
