.header__button-courses_active {
  background-image: url(../../../../images/button-courses_active.svg);
  width: 89px;
  height: 24px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
}

.header__button-courses_active {
  cursor: pointer;
}
