.header__button-profile {
  background-image: url(../../../images/button-profile.svg);
  width: 113px;
  height: 24px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
}

.header__button-profile:hover {
  cursor: pointer;
}
