.profile-account {
  grid-area: profile-account;
  background-color: #FFFFFF;
  max-width: 312px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  max-height: 520px;
  box-shadow: 0 0 4px rgba(231, 232, 235, 0.6), 0 4px 16px rgba(231, 232, 235, 0.6);
}
