.filter__item {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.filter__item:last-of-type {
  margin-bottom: 0;
}
