.filters {
  width: 312px;
  margin: 0 24px 0 0;
  display: flex;
  position: relative;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgb(231 232 235 / 60%), 0px 4px 16px rgb(231 232 235 / 60%);
  border-radius: 16px;
  overflow: hidden
}
