.filters__category {
  margin: 0 auto 0;
  padding: 32px 0 32px;
  background-color: #FFFFFF;
  cursor: pointer;
  width: 248px;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid #E6E7EB;
  outline: none;
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  transition: 0.4s;
}

.filters__category:after {
  content: url(../../../images/filter-item_open.svg);
  float: right;
  margin: -3px 7px 0 0;
  transition: 0.4s;
}
