.profile-content {
  max-width: 1320px;
  margin: 24px 60px 0;
  display: grid;
  gap: 24px;
  grid-template-areas:
    "page-title . ."
    "profile-account profile-data profile-text-personal-data"
    ". account-data profile-text-account";
  grid-template-columns: 312px 648px auto;
}
