.profile-account__button-exit {
  max-width: 247px;
  margin: 34px 32px 32px 32px;
  border: 1.2px solid #E6E7EB;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 0;
  transition: border 0.3s linear;

}

.profile-account__button-exit:hover {
  cursor: pointer;
  border: 1.2px solid #FF6600;

}

