.profile-account__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #212329;
  margin: 20px auto 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 280px;
}
