.tag {
  margin: 0 8px 10px 0;
  padding: 0 2px 0 8px;
  background: #E6E7EB;
  border-radius: 16px;
  display: none;
  align-items: center;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212329;
}
